<html>
    <head>
        <title> Home Page </title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/base.css">
    </head>
    <body>
        <div class="topnav">
            
            <span class="title"> FAKE PRODUCT IDENTIFIER</span>
            <a class="active" href="http://127.0.0.1:8000/">Home </a>
            <a href="http://127.0.0.1:8000/customer" class="link">Customer</a>
            <a href="http://127.0.0.1:8000/login" class="link">Seller</a>
        </div>
    
        <div class="content">

            
            <p> 
                In recent years, Counterfeit products play an important role in product manufacturing industries. This affects
                the companies name, sales, and profit of the companies.
                Big Brands Experience Huge Loss due to Cheap Counterfeits. 
                The difference between an authentic product and a bootleg copy can be astonishingly small at times,
                making it difficult to tell the two apart. 
                <br><br>
                In this project, with emerging trends in mobile and wireless technology, Quick Response (QR) codes
                provide a robust technique to fight the practice of counterfeiting the products. counterfeit products are detected
                using a QR code scanner, where a QR code of the product is linked to a Blockchain. So this system may be used
                to store product details and generated unique code of that product as blocks in the database. It collects the
                unique code from the user and compares the code against entries in the Blockchain database. If the code
                matches, it will give a notification to the customer, otherwise it will give the notification to the customer that the
                product is fake. 
                <br><br>
                The main goal of our project is to create a system that uses a QR Code to identify the product.
                The project allows the manufacturer to store and register the real manufactured product into our system.
                Each product is assigned a unique hash code, which makes it difficult to alter the product data. 
                Then the users can scan the product QR Code to find if the product they have is either the product 
                manufactured by the respective brand or is it a fake product. 
            </p> 
        </div>
       
        <div class="vl"> </div> 
        
        <img src = "../static/images/9.jpg" class="gif" >
    
</body>