<html>
    <head>
        <title> Product Successfully Registered </title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/base.css">
        <link rel="stylesheet" type="text/css" href="../static/registered.css">
    </head>
    <body>
        <div class="topnav">
            <span class="title"> FAKE PRODUCT IDENTIFIER</span>
            <a href="http://127.0.0.1:8000/">Home </a>
            <a href="http://127.0.0.1:8000/customer">Customer</a>
            <a href="http://127.0.0.1:8000/login" >Seller</a>
        </div>
    <br><br>
        <center>
        <h2><center>Product Registered Successfully!!!</center> </h2>
        <br>
        <br>
        
        
        <h3>click on "GET the QR Code Button to Generate the QR Code for your Registered Product"</h3>
        <br><br>
        <a href="/generateqr"><input type = "button" value = "Get the QR CODE" class="btn"></a>
        </center>
    </body>